.subtitle {
    text-align: left;
    margin-top: 8px;
}

form {
    display: flex;
    align-items: center;
    column-gap: 5rem;
}

.col {
    display: flex;
    flex-direction: column;
}

.input__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form__radio {
    padding: 16px 0;
    position: relative;
}

.radio {
    display: inline-flex;
    align-self: center;
    overflow: hidden;
    border-radius: 8px;
    border: 1px solid #000;
    margin-bottom: 35px;
    min-width: 100%;
    max-width: 100%;
}

.buttons {
    display: flex;
    column-gap: 20px;
}

button {
    border-radius: 8px;
    padding: 15px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    cursor: pointer;
    min-width: 275px;
    max-width: 275px;
}

.clear__btn {
    background: transparent;
    border: 1px solid #222;
}

.simulate_btn {
    background: gray;
    border: none;
}

.investiment {
    padding-left: 15px;
}

.investiment__info {
    display: flex;
    min-width: 100%;
    padding: 16px 0;
    flex-wrap: wrap;
    row-gap: 32px;
    align-content: center;
    justify-content: center;
    column-gap: 50px;
}

.graph__column {
    display: none;
}

.graph__column,
.graph__bar {
    width: 100%;
}

.investiment__info h3 {
    font-size: 0.9rem;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .subtitle {
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    form .col,
    input {
        min-width: 80%;
        max-width: 80%;
    }

    .buttons {
        flex-direction: column;
        align-items: center;
    }

    button {
        min-width: 80%;
        max-width: 80%;
    }

    .investiment__info {
        min-width: 100%;
        column-gap: 25px;
        justify-content: center;
        padding: 0 25px 0 25px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    form {
        justify-content: center;
    }

    form .col,
    input {
        min-width: 260px;
        max-width: 260px;
    }

    .form__content {
        max-width: 100%;
        min-width: 100%;
    }

    .buttons {
        justify-content: center;
    }
}
